<h1><%= $game.fighter_name  %> vs <%= $game.punchbag_name  %> </h1>
<br>
<br>
<br>
<h2> <%= $game.fighter_name  %>: <%= $game.show_fighter_hp %>hp </h2>
<h2> <%= $game.punchbag_name  %>: <%= $game.show_punchbag_hp %>hp </h2>


<form action="/attack">
  <input type="submit" value="Attack!">
</form>
